@layer base {
  :root {
    --white: #f9faff;
    --platinum: #e3e4e8;
    --windsurfing: #32779b;
    --marina: #5a91c7;
    --gray: #9a9a9a;
    --onyx: #3c3d44;
    --charcoal: #343c47;
    --corners: 24px 0;
    --base-font-size: 1rem;
  }

  html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    font-size: var(--base-font-size);
    font-family: "Inter", sans-serif;
  }

  img {
    max-width: 100%;
  }

  h1, h2, h3 {
    margin: 0;
  }

  p {
    line-height: 1.5;
  }
}

