@layer base, layout, standard;

@layer base {
  :root {
    --white: #f9faff;
    --platinum: #e3e4e8;
    --windsurfing: #32779b;
    --marina: #5a91c7;
    --gray: #9a9a9a;
    --onyx: #3c3d44;
    --charcoal: #343c47;
    --corners: 24px 0;
    --corners-sm: 10px 0;
    --base-font-size: 1rem;
  }

  html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    font-size: var(--base-font-size);
    font-family: "Inter", sans-serif;
  }

  img {
    max-width: 100%;
  }

  h1, h2, h3 {
    margin: 0;
  }

  p {
    line-height: 1.5;
  }
}

@layer layout {
  .wrapper {
    max-width: 60ch;
    margin: 0 auto;
    padding: 1rem;
  }

  /* about me layout styling */
  .main-article {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
  }

  .main-article img {
    margin: 0 auto;
  }

  .icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    justify-content: center;
  }

  footer {
    text-align: center;
  }

  .h2-spacing { /* improve naming for this */
    margin: 2rem 0;
  }

  .footer-text {
    line-height: 1.5;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .footer-text-box ul {
    font-size: calc(var(--base-font-size) * 0.85);
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .footer-text-box li {
    line-height: 2;
  }

  main {
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  .projects {
    display: flex;
    flex-flow: column nowrap;
    gap: 3rem;
  }

  .project {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .project ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
  }

  .project img {
    grid-row: 1/2;
  }
}

@layer standard {
  body {
    background-color: var(--platinum);
    color: var(--onyx);
  }

  img {
    border-radius: var(--corners);
  }

  h1 {
    font-size: calc(var(--base-font-size) * 2.9);
  }

  h2 {
    font-size: var(--base-font-size);
    text-transform: uppercase;
    color: var(--windsurfing);
    letter-spacing: 0.25em;
  }

  a {
    color: var(--windsurfing);

    &:hover {
      color: var(--marina);
    }
  }

  /* svg social icon bar*/
  ul svg {
    height: 45px;
    width: 45px;
  }

  .social {
    pointer-events: bounding-box;
    fill: var(--windsurfing);

    &:hover {
      fill: var(--marina);
    }
  }

  .main-article img {
    object-fit: cover;
    object-position: top;
    height: 360px;
    width: 300px;
    overflow: hidden;
    background-color: #ccd6de;
  }

  footer .social {
    fill: var(--onyx);

    &:hover {
      fill: var(--marina);
    }
  }

  .project {
    background-color: var(--white);
    border-radius: var(--corners);
  }

  .project li {
    background-color: var(--marina);
    color: var(--white);
    padding: 0.5rem;
    border-radius: var(--corners-sm);
    font-size: calc(var(--base-font-size) * 0.85);
  }

  .project img {
    filter: drop-shadow(-3px -3px 5px var(--onyx));
  }
}

@media (width >= 750px) {
  @layer base {
    :root {
      --base-font-size: 1.25rem;
    }
  }

  @layer layout {
    .wrapper {
      padding: 5rem;
      max-width: 90ch;
    }

    .main-article {
      grid-template-columns: 1fr 1fr;
      align-items: center;
      text-align: left;
    }

    .icons {
      justify-content: start;
      /* flex-wrap: nowrap; */
    }

    h1 {
      margin-inline-start: -3px; /* fixes visual misalign between h2 and h1 */
    }

    footer {
      text-align: left;
    }

    .footer-text {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @layer standard {
    ul svg {
      height: 54px;
      width: auto;
    }

    .main-article img {
      max-height: 500px;
      margin: 0 0 0 auto;
      object-fit: none;
      object-position: 20% 0%;
      overflow: auto;
      height: auto;
      width: 400px;
    }
  }
}

@media (width >= 850px) {
  @layer layout{
    main {
      text-align: left;
    }
  
    .project {
      grid-template-columns: 1fr 1fr;
    }
  
    .project img {
      grid-row: auto;
    }
  
    .project ul {
      justify-content: start;
    }
  }
}
